{% extends "layouts/base.html" %}
{% block page %}{{ page }}{% endblock %}

{% block customhead %}
  <style type="text/css">
    .ayat {
      text-align: right;
    }

    .ayat .number {
      margin-right: 1rem;
    }

    .ayat .surah {
      float: left;
    }

    .row {
      transition: 0.4s;
    }

    .row:hover {
      font-size: 25px;
    }

    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      .card {
        min-width: 98%;
        margin-left: 1%;
      }
    }
  </style>
{% endblock %}


{% block content %}
  <div class="card bg-dark text-white">
    <div class="card-header text-center">
      Juz {{ juz }}
    </div>
    <div class="card-body">
      <p class="card-text ml-auto"></p>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
{% endblock %}



{% block customfooter %}
  <script src="{{ url_for('static', filename='js/helper.js') }}"></script>
  <script src="{{ url_for('static', filename='js/effect.js') }}"></script>

  <script type="text/javascript">
    var global_var = {};

    async function render(data, index, max=10) {
      var result_ayat = "";
      $(".card-body").children("p").remove();
      for (var i=0; i < data.length; i++) {
        result_ayat = result_ayat+`
        <div class="row">
          <div class="col-md-2">
            <p>
              <span class="surah">${data[i].surah.englishName}</span>
            </p>
          </div>

          <div class="col-md-10">
            <p class="card-text ayat mb-3" id="ayat">
              ${data[i].text}
              <span class="number">( ${GetArabicNumber(data[i].numberInSurah.toString())} )</span>
            </p>
          </div>
        </div>`;

        if (i < data.length-1) {
          result_ayat = result_ayat+`<hr>`;
        }
      }

      $(".card-body").append(result_ayat);
    }

    async function get_data() {
      let resp = await fetch("http://api.alquran.cloud/v1/juz/{{ juz }}", {
          "method": "GET",
          "mode": "cors"
      });

      await resp.json().then( res => {
         global_var.ayat = res.data.ayahs;
      }).catch(err => {
        alert("Gagal terhubung ke server, silahkan periksa koneksi internet anda");
      });

      render(global_var.ayat, 0)
    }

    get_data();

    typeSentence("Loading...", ".card-text", 35);


  </script>
{% endblock %}
