{% extends "layouts/base.html" %}
{% block page %}{{ page }}{% endblock %}

{% block content %}
  <div class="row text-center">
  	<a href="/juz" class="col-md-2 mb-4 none-text-decoration text-dark">
  		<div class="card" style="padding: 0.25rem;">
  		  <div class="card-body">
  		    <h5 class="card-title">Juz 1</h5>
  		  </div>
  		</div>
  	</a>
    <a href="/surah" class="col-md-2 mb-4 none-text-decoration text-dark">
      <div class="card" style="padding: 0.25rem;">
        <div class="card-body">
          <h5 class="card-title">Juz 2</h5>
        </div>
      </div>
    </a>
    <a href="/cari" class="col-md-2 mb-4 none-text-decoration text-dark">
      <div class="card" style="padding: 0.25rem;">
        <div class="card-body">
          <h5 class="card-title">Juz 3</h5>
        </div>
      </div>
    </a>
    <a href="/cari" class="col-md-2 mb-4 none-text-decoration text-dark">
      <div class="card" style="padding: 0.25rem;">
        <div class="card-body">
          <h5 class="card-title">Juz 4</h5>
        </div>
      </div>
    </a>
    <a href="/cari" class="col-md-2 mb-4 none-text-decoration text-dark">
      <div class="card" style="padding: 0.25rem;">
        <div class="card-body">
          <h5 class="card-title">Juz 5</h5>
        </div>
      </div>
    </a>
    <a href="/cari" class="col-md-2 mb-4 none-text-decoration text-dark">
      <div class="card" style="padding: 0.25rem;">
        <div class="card-body">
          <h5 class="card-title">Juz 6</h5>
        </div>
      </div>
    </a>
  </div>
{% endblock %}
